.chat_wrapper {
    position: fixed;
    top: 57%;
    left: 65%;
    padding: 20px;
    width: 30vw;
    z-index: 100;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    font-size: 0.9rem;
}

.chat_section {
    height: 30vh;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1.3rem;
}

.send_section > input {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.chat_nickname {
    font-weight: 700;
    color: lightskyblue;
}

.chat_nickname_system {
    font-weight: 700;
    color: red;
}
