@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
    font-family: "CookieRun Regular";
    src: url("/src/static/fonts/CookieRun\ Regular.ttf") format("truetype");
}

@font-face {
    font-family: "CookieRun Black";
    src: url("/src/static/fonts/CookieRun\ Black.ttf") format("truetype");
}

* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    margin: 0px !important;
    background-color: #000000;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
